{% load i18n %}
{% autoescape off %}
{% trans "Hi" %}{{ user.get_username }}

{% trans "You're receiving this email because you requested to reset the password for your account. To initiate the password reset process for your account, click the link below:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock reset_link %}

{% trans "Your username, in case you've forgotten is: " %}{{ user.get_username }}

{% trans "If you did not make this request, you can simply ignore this email." %}


{% endautoescape %}